{% extends base_template %}
{% block center %}
<style>
    .neededCourse {
        margin: 2px;
    }
    .neededCourse:hover {
        cursor: pointer;
    }
    .hidden {
        display: none;
    }
    #saveMenu {
        position: fixed;
        top: 120px;
        left: 30px;
    }
</style>
<script type='text/javascript'>
    $(document).ready(function() {
        $('.neededCourse').click(function() {
            console.log($(this));
            $('#id_coursesNeeded option[value=' + $(this).attr('pk') + ']').attr('selected', '');
            $('#id_coursesTaken option[value=' + $(this).attr('pk') + ']').attr('selected', 'selected');
            $(this).animate({
                opacity : .3
            }, 300);
        });
        $('.takenCourse').click(function() {
            console.log($(this));
            $('#id_coursesNeeded option[value=' + $(this).attr('pk') + ']').attr('selected', 'selected');
            $('#id_coursesTaken option[value=' + $(this).attr('pk') + ']').attr('selected', '');
            $(this).animate({
                opacity : .3
            }, 300);
        });
        $('.allCourse').click(function() {
            console.log($(this));
            $('#id_coursesNeeded option[value=' + $(this).attr('pk') + ']').attr('selected', 'selected');
            $(this).animate({
                opacity : .3
            }, 300);
        });
        $("#save").click(function() {
            $('#studentForm').submit();
        });
    });

</script>
<h3>{{ student.name }}</h3>
<div class='column'>
    <h4> you need these courses </h4>
    <p style='font-style: italic;'>
        click to indicate you have taken the course
    </p>
    {% for course in student.coursesNeeded.all %}
    <p class='neededCourse' pk='{{ course.id }}'>
        {{ course }}
    </p>
    {% endfor %}
</div>
<div class='column'>
    <h4> you have taken these courses </h4>
    <p style='font-style: italic;'>
        click to indicate you have <strong>NOT</strong> taken the course
    </p>
    {% for course in student.coursesTaken.all %}
    <p class='takenCourse' pk='{{ course.id }}'>
        {{ course }}
    </p>
    {% endfor %}
</div>
<div class='column'>
    <h4> these are all the courses</h4>
    <p style='font-style: italic;'>
        click to indicate a course you need
    </p>
    {% for course in courses %}
    <p class='allCourse' pk='{{ course.id }}'>
        {{ course }}
    </p>
    {% endfor %}
</div>
<div class='hidden'>
    <form id='studentForm' action='' method='POST'>
        {% csrf_token %}
        {{ studentForm }}
    </form>
</div>
<div id='saveMenu'>
    <button id='save'>
        <h3>save</h3>
    </button>
</div>
{% endblock %} 