* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
}
html, body {
    height: 100%;
    width: 100%;
    background: #FFF;
}
#container {
    width: 100%;
    height: 100%;
    float: left;
}
#wrapper {
    width: 98%;
    height: 100%;
    margin: 0px auto;
}
.fields {
    margin-left: 20px;
}
.column {
    position: relative;
    width: 230px;
    float: left;
    margin-right: 20px;
}
strong {
    font-weight: 900;
    font-variant: small-caps;
}
input {
    background: #cdcdcd;
    font-size: 16px;
}
input[type='range'] {
    -webkit-appearance: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #fefefe),
    color-stop(0.49, #dddddd),
    color-stop(0.51, #d1d1d1),
    color-stop(1, #a1a1a1)
    );
    background-repeat: no-repeat;
    background-position: 50%;
}
.hidden {
    display: none;
}
#student-info {
    width: 100%;
    padding: 8px 0px;
    float: left;
    background: #CDCDCD;
    text-align: center;
}

#schedule-selection-area {
    float: left;
    width: 60%;
    margin: 10px;
}
#schedules {
    float: left;
    margin: 10px;
    width: 35%;
    text-align: center;
    position: relative;
}

#course-info {
    float: left;
    clear: both;
    margin: 5px 0;
    width: 100%;
    height: 100px;
}
#course-info * {
    display: inline;
}
#course-info h4 {
    margin-right: 2px;
}

#student-info * {
    display: inline-block;
    margin: 0px 5px;
}

#schedule-filters {
    height: 165px;
    width: 750px;
    margin-bottom: 20px;
    border: 2px solid #CDCDCD;
    border-left: none;
    border-right: none;
}
#schedule-filters > div {
    margin: 0px 5px;
}
#schedule-filters > div > div > * {
    display: inline;
}
#slider-filters > div > *:not(h4) {
    float: right;
    font-size: 12px;
}
#schedule-filters > #slider-filters {
    float: left;
    width: 310px;
    height: 100%;
    margin-right: 10px;
    border-right: 2px solid #CDCDCD;
}
.slider {
    width: 230px;
    height: 20px;
}
#collegeFilters {
    float: left;
    height: 50px;
    width: 400px;
}
select {
    width: 180px;
    height: 25px;
    font-size: 12px;
}
#departmentSelect {
    width: 60px;
}
#majorSelect {
    width: 130px;
}
#boolean-days {
    float: left;
    width: 400px;
}
#boolean-days div {
    display: inline-block;
    margin: 0px 3px;
    width: 70px;
}
#boolean-days input {
    float: left;
    margin: 0;
    display: block;
}
#course-columns {
    width: 75%;
    top: 300px;
    left: 0px;
    margin: 20px 0 0 30px;
}

#course-columns {
    width: 790px;
    margin: 0px;
}

#course-columns .column {
    width: 240px;
    height: 400px;
    background: #dedede;
}

#course-columns h3 {
    min-height: 50px;
}

#course-columns .courses {
    overflow-y: scroll;
    max-height: 350px;
}
.haze {
    position: absolute;
    z-index: 5;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #dedede),
    color-stop(0.5, #cdcdcd),
    color-stop(1, #a1a1a1)
    );
    opacity: .8;
}
.added {
    opacity: .4;
    margin-left: 10px;
}
.column h3 {
    background: #434343;
    color: #fff;
}

.schedule {
    position: absolute;
    margin: 0px auto;
    width: 500px;
    height: 675px;
    float: left;
    display: block;
}
#schedule-tabs {
    position: absolute;
    top: 680px;
    width: 500px;
    height: 30px;
}
.scheduleTab {
    float: left;
    display: inline-block;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #ededed),
    color-stop(0.5, #cdcdcd),
    color-stop(1, #a1a1a1)
    );
    width: 70px;
    height: 30px;
    margin-right: 3px;
    border-radius: 0px 0px 5px 5px;
}
table {
    width: 480px;
}
tr, th, td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
tr, td, th {
    height: 22px;
    width: 15%;
}
.leveled {
    display: none;
}
li {
    list-style: none;
    margin: 5px 0px;
    font-weight: 500;
}
.allCourse:hover, .neededCourse:hover, .wantedCourse:hover {
    cursor: pointer;
    opacity: .8;
}