* {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body {
    height: 100%;
    width: 100%;
    background: #FFF;
}
#container {
    width: 100%;
    height: auto;
}
#left-nav {
    float: left;
    width: 10%;
    min-width: 120px;
    min-height: 200px;
}
#wrapper {
    width: 85%;
    min-width: 1000px;
    float: left;
}
#main {
    margin: 0 auto;
    height: auto;
    min-height: 500px;
}
.fields {
    margin-left: 20px;
}
.column {
    width: 230px;
    float: left;
    margin-right: 20px;
}
strong {
    font-weight: 900;
    font-variant: small-caps;
}
input{
    background: #cdcdcd;
    font-size: 16px;
}
