* {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body {
    height: 100%;
    width: 100%;
    background: #FFF;
}
#container {
    width: 100%;
    height: auto;
}
#left-nav {
    float: left;
    width: 10%;
    min-width: 120px;
    min-height: 200px;
}
#wrapper {
    width: 100%;
    min-width: 1000px;
    float: left;
}
#main {
    margin: 0 auto;
    height: auto;
    min-height: 500px;
}
.fields {
    margin-left: 20px;
}
.column {
    width: 230px;
    float: left;
    margin-right: 20px;
}
strong {
    font-weight: 900;
    font-variant: small-caps;
}
input {
    background: #cdcdcd;
    font-size: 16px;
}
.slider {
    width: 250px;
}
.hidden{
    display:none;
}
table, tr, th, td{
    border: 1px solid black;
}
#boolean-days{
    position: relative;
    left: 400px;
    top: -100px;
}
#boolean-days p{
    display: inline;
}
#boolean-days p{
    display: inline-block;
}
#schedule-filters{
    position: absolute;
    left: 65px;
    top: 0px;
    width: 70%;
}
#course-columns{
    width: 75%;
    float: left;
    margin: 20px 0 0 30px;
}
#course-columns .column{
    width: 300px;
}
#magic-hat{
    position: absolute;
    right: 475px;
    top: 150px;
}
#schedule{
    width: 20%;
    position: absolute;
    right: 185px;
    top: 0px;
}

