{% extends base_template %}
{% block center %}
<style>
    .neededCourse {
        margin: 2px;
    }
    .neededCourse:hover {
        cursor: pointer;
    }
    .hidden {
        display: none;
    }
    #saveMenu {
        position: fixed;
        top: 120px;
        left: 30px;
    }
</style>
<script type='text/javascript'>
    var college = null;
    $(document).ready(function() {
        $('.college').click(function() {
            if(college) {
                if(college == this) {
                    $('#id_name').val('');
                    $('#id_abbr').val('');
                    $("#id_pk").val('');
                    $(this).animate({
                        opacity : 1
                    }, 300);
                    college = null;
                } else {
                    $(college).animate({
                        opacity : 1
                    }, 300);
                    college = this;
                    $('#id_name').val($(college).attr('name'));
                    $('#id_abbr').val($(college).attr('abbr'));
                    $('#id_pk').val($(college).attr('pk'));
                    $(this).animate({
                        opacity : .3
                    }, 300);
                }
            } else {
                college = this;
                $('#id_name').val($(college).attr('name'));
                $('#id_abbr').val($(college).attr('abbr'));
                $('#id_pk').val($(college).attr('pk'));
                $(this).animate({
                    opacity : .3
                }, 300);
            }
            $('p:not(.college)').animate({
                opacity : 1
            }, 300);
            $('option[selected=selected]').removeAttr('selected');
            //Init the department list with the colleges current departments
            $($(college).parent().children('.departments')).children('option').each(function() {
                var me = this;
                console.log(me);
                var p = $('.department[pk=' + $(me).val() + ']');
                var option = $('#id_departments option[value=' + $(me).val() + ']');
                if($(me).attr('selected') == 'selected') {
                    $(option).attr('selected', 'selected');
                    $(p).animate({
                        opacity : .3
                    }, 300);
                } else {
                    $(option).removeAttr('selected');
                    $(p).animate({
                        opacity : 1
                    }, 300);
                }
            });
            //Init the major list with the colleges current majors
            $($(college).parent().children('.majors')).children('option').each(function() {
                var me = this;
                var p = $('.major[pk=' + $(this).val() + ']');
                var option = $('#id_majors option[value=' + $(me).val() + ']');
                if($(me).attr('selected') == 'selected') {
                    $(option).attr('selected', 'selected');
                    $(p).animate({
                        opacity : .3
                    }, 300);
                } else {
                    $(option).removeAttr('selected');
                    $(p).animate({
                        opacity : 1
                    }, 300);
                }
            });
            console.log($(college));
        });
        $('.major').click(function() {
            var me = this;
            if(college == null) {
                alert("Select a college first!");
                return;
            }
            console.log($(me));
            var option = $('#id_majors option[value=' + $(me).attr('pk') + ']');
            option = option[0];
            if($(option).attr('selected') == 'selected') {
                $(option).removeAttr('selected');
                $(me).animate({
                    opacity : 1
                }, 300);
            } else {
                $(option).attr('selected', 'selected');
                $(me).animate({
                    opacity : .3
                }, 300);
            }
        });
        $('.department').click(function() {
            var me = this;
            if(college == null) {
                alert("Select a college first!");
                return;
            }
            console.log(me);
            var option = $('#id_departments option[value=' + $(me).attr('pk') + ']');
            option = option[0];
            if($(option).attr('selected') == 'selected') {
                $(option).removeAttr('selected');
                $(me).animate({
                    opacity : 1
                }, 300);
            } else {
                $(option).attr('selected', 'selected');
                $(me).animate({
                    opacity : .3
                }, 300);
            }
        });
        $("#save").click(function() {
            $.post(window.location, $('#collegeForm').serialize(), function(data) {
                $('html').html(data);
            });
        });
    }); 
</script>
<h3>{{ student.name }}</h3>
<div class='column'>
    <h4> Colleges </h4>
    <p style='font-style: italic;'>
        Select a college to add majors to it
    </p>
    {% for college in colleges.all %}
    <div>
        <p class='college' name='{{ college.name }}' abbr='{{ college.abbr }}' pk='{{ college.id }}'>
            {{ college }}
        </p>
        <div class='hidden majors'>
            {% for major in college.major_set.all %}
            <option value='{{ major.id }}' selected='selected'>{{ major }}</option>
            {% endfor %}
        </div>
        <div class='hidden departments'>
            {% for department in college.department_set.all %}
            <option value='{{ department.id }}' selected='selected'>{{ department }}</option>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<div class='column'>
    <h4> Majors </h4>
    <p style='font-style: italic;'>
        Click to indicate this major if part of the selected college
    </p>
    {% for major in majors.all %}
    <p class='major' pk='{{ major.id }}'>
        {{ major }}
    </p>
    {% endfor %}
</div>
<div class='column'>
    <h4> Departments </h4>
    <p style='font-style: italic;'>
        Click to indicate this department if part of the selected college
    </p>
    {% for department in departments.all %}
    <p class='department' pk='{{ department.id }}'>
        {{ department }}
    </p>
    {% endfor %}
</div>
<div class='hidden'>
    <form id='collegeForm' action='' method='POST'>
        {% csrf_token %}
        {{ collegeForm }}
    </form>
</div>
<div id='saveMenu'>
    <button id='save'>
        <h3>save</h3>
    </button>
</div>
{% endblock %} 