<!DOCTYPE HTML5>
<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <meta name='description' content='lsu course scheduler' />
        <meta name='keywords' content='lsu, course, scheduler, scheduling' />
        <link id='main-css' type='text/css' rel='stylesheet' href='{{ STATIC_URL }}css/styles.css'/>
        <!--         <link type='image/x-icon' rel="icon" href='{{ STATIC_URL }}images/fav.png' /> -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <!--         <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script> -->
        <title>{% block header_title %}LSU Scheduler{% endblock %}</title>
    </head>
    <body>
        <div id="fb-root"></div>
        {% include "header.html" %}
        <div id='container'>
            <div id='wrapper'>
                {% block center %}
                {% endblock %}
            </div>
            <div id='right-nav'></div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>
