{% extends base_template %}
{% block center %}
<div>
	<h3>
		{{student.name}}
	</h3>
</div>
<div >
	<h3>{{department}} Filter Courses</h3>
	<select id="collegeSelect" > 
		{% for college in colleges %}
		<option> 
			<p>{{college.name}}</p>
		</option>
		{% endfor %} 
	</select> 
	<select id="departmentSelect"onchange="filterDepartment(this.value)"> 
		{% for department in departments %}
		<option> 
			<p>{{department.abbr}}</p>
		</option>
		{% endfor %} 
	</select> 
	<select id="majorSelect"> 
		{% for major in majors %}
		<option> 
			<p>{{major.name}}</p>
		</option>
		{% endfor %} 
	</select> 
	<span id="filterText"> </span>
	<h4>Start Time</h4>
	<input type="range" onchange="startSliderChange(this.value)">
		<span id="startRange">0</span>
		<script>
		function filterDepartment(deptValue){
			document.getElementById("filterText").innerHTML=deptValue;
		}
		function startSliderChange(newValue){
			document.getElementById("startRange").innerHTML=newValue;
		}
		</script>
	</input>
	<h4>End Time</h4>
	<input type="range" onchange="timeSliderChange(this.value)">
		<span id="endRange">0</span>
		<script>
		function timeSliderChange(newValue){
			document.getElementById("endRange").innerHTML=newValue;
		}
		</script>
	</input>
	<h4>Course Level</h4>
	<input type="range" min="1000" max="8000" step="1000" value="1000" onchange="levelSliderChange(this.value)">
		<span id="levelRange">1000</span>
		<script>
		function levelSliderChange(newValue){
			document.getElementById("levelRange").innerHTML=newValue;
		}
		</script>
	</input>
</div>

<div class="column">
	
</div>
<div class='column'>
    <h3>Courses Possible</h3>
    {% for course in courses %} <a href='{{ course.get_absolute_url }}'>
    <li>
        {{ course.title }}
    </li> </a>
    {% endfor %}
</div>
<div class='column'>
    <h3>Courses Needed</h3>
    {% for course in student.major.coursesRequired.all %} <a href='{{ course.get_absolute_url }}'>
    <li>
        {{ course.title }}
    </li> </a>
    {% endfor %}
</div>
<div class='column'>
    <h3>Course Bucket</h3>
    {% for major in majors %} <a href='{{ major.get_absolute_url }}'>
    <li>
        {{ major.name }}
    </li> </a>
    {% endfor %}
</div>
<!--
<div class='column'>
    <h3>Courses Registered</h3>
    {% for department in departments %} <a href='{{ department.get_absolute_url }}'>
    <li>
        {{ department.name }}
    </li> </a>
    {% endfor %}
</div>
-->
<div class="column">
	<h3>Schedule</h3>
	<table border="1">
		<tr>
			<th></th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
		</tr>
		<tr>
			<th>7:00</th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<th>8:00</th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>

{% endblock %} 