{% extends base_template %}
{% block center %}
<div>
	<h3>
		{{student.name}}
	</h3>
</div>
<div >
	<h3>{{department}} Filter Courses</h3>
	<select id="collegeSelect"> 
		{% for college in colleges %}
		<option> 
			<p>{{college.name}}</p>
		</option>
		{% endfor %} 
	</select> 
	<select id="departmentSelect"> 
		{% for department in departments %}
		<option> 
			<p>{{department.abbr}}</p>
		</option>
		{% endfor %} 
	</select> 
	<select id="majorSelect"> 
		{% for major in majors %}
		<option> 
			<p>{{major.name}}</p>
		</option>
		{% endfor %} 
	</select> 
	<h3>Start Time</h3>
	<input type="range" onchange="timeSliderChange(this.value)">
		<span id="range">0</span>
		<script>
		function timeSliderChange(newValue){
			document.getElementById("range").innerHTML=newValue;
		}
		</script>
	</input>
	<h3>End Time</h3>
	<input type="range" onchange="timeSliderChange(this.value)">
		<span id="range">0</span>
		<script>
		function timeSliderChange(newValue){
			document.getElementById("range").innerHTML=newValue;
		}
		</script>
	</input>
</div>

<div class="column">
	
</div>
<div class='column'>
    <h3>courses</h3>
    {% for course in courses %} <a href='{{ course.get_absolute_url }}'>
    <li>
        {{ course.title }}
    </li> </a>
    {% endfor %}
</div>
<div class='column'>
    <h3>Colleges</h3>
    {% for college in colleges %} <a href='{{ college.get_absolute_url }}'>
    <li>
        {{ college.name }}
    </li> </a>
    {% endfor %}
</div>
<div class='column'>
    <h3>Majors</h3>
    {% for major in majors %} <a href='{{ major.get_absolute_url }}'>
    <li>
        {{ major.name }}
    </li> </a>
    {% endfor %}
</div>
<div class='column'>
    <h3>Departments</h3>
    {% for department in departments %} <a href='{{ department.get_absolute_url }}'>
    <li>
        {{ department.name }}
    </li> </a>
    {% endfor %}
</div>

{% endblock %} 